<!--<p>main-client works!</p>-->
<br>
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
    </div>
    <!--Imagenes del carrusel-->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a (click)="openDialog()" id="avatar">
          <img src="../../../assets/img/avatar2.jpg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a (click)="openDialog()" id="elemental">
          <img src="../../../assets/img/elemental.jpeg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal3">
          <img src="../../../assets/img/John-Wick-4.jpg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal4">
          <img src="../../../assets/img/mariobros.jpeg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal5">
          <img src="../../../assets/img/sirenita.jpg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--imagenes de los card-->
  <div class="row mt-3 card-container align-items-center" >
    <mat-card class="card-movie" *ngFor="let movie of movies">
      <mat-card-header>
        <mat-card-title>{{movie.name_mve}}</mat-card-title>
        <mat-card-subtitle>{{movie.name_gdr}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../../../assets/img/{{movie.image_mve}}" alt="Error al cargar img">
      <mat-card-actions >
        <button mat-raised-button color="warn" ><a routerLink="/carteleraClient" style="text-decoration: none; color: white">Ver cartelera</a></button>
        <p></p>
      </mat-card-actions>
    </mat-card>

  </div>
</div>

