<!--<p>main-client works!</p>-->
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal1">
          <img src="../../../assets/img/avatar2.jpg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal2">
          <img src="../../../assets/img/elemental.jpeg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal3">
          <img src="../../../assets/img/John-Wick-4.jpg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal4">
          <img src="../../../assets/img/mariobros.jpeg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
      <div class="carousel-item">
        <a href="#!" data-bs-toggle="modal" data-bs-target="#modal5">
          <img src="../../../assets/img/sirenita.jpg" class="d-block w-100" alt="..." height="500">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--Modal de Peliculas-->
  <!--  <div class="modal fade" tabindex="-1" id="modal1" aria-labelledby="modal1" aria-hidden="true">-->
  <!--  <div class="modal-dialog">-->
  <!--    <div class="modal-content">-->
  <!--      <div class="modal-header">-->
  <!--        <h5 class="modal-title">Avatar 2</h5>-->
  <!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
  <!--      </div>-->
  <!--      <div class="modal-body">-->
  <!--        <p>Genero: Ciencia ficción/Acción</p>-->

  <!--        <p>Duración: 3h 12m</p>-->

  <!--        <p>Jake Sully y Ney'tiri han formado una familia y hacen todo lo posible por permanecer juntos.-->
  <!--          Sin embargo, deben abandonar su hogar y explorar las regiones de Pandora cuando una antigua amenaza-->
  <!--          reaparece.</p>-->
  <!--      </div>-->
  <!--      <div class="modal-footer">-->
  <!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
  <!--        <button type="button" class="btn btn-primary">Ver Cartelera</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  </div>-->
  <!--Fin del Modal de peliculas-->

  <div class="row mt-3">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/publicidad.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/publicidad.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/publicidad.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/publicidad.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>
