<div class="main-div">
  <div class="row">
    <div class="card ">
      <mat-card class="example-card">
        <mat-card-header class="row mt-1">
          <div class="col text-center">
            <img src="../../../../../assets/img/sigeve2.jpg" alt="Logo" mat-card-image style="width: 40%;
            height: auto; display: inline">
            <mat-card-title>Log in</mat-card-title>
          </div>
        </mat-card-header>
        <form (submit)="loginForm()">
          <mat-card-content class="row">
            <div class="email">
              <mat-form-field appearance="outline" class="w-60">
                <mat-label>Email</mat-label>
                <input type="email" matInput required name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="enriquejasso@gmail.com">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid">
                  <span *ngIf="email.errors?.['required']">Campo obligatorio</span>
                  <span *ngIf="email.errors?.['email']">Ingresar un correo valido</span>
                </mat-error>
              </mat-form-field>
            </div>
              <div class="password">
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required name="password" #password="ngModel" [(ngModel)]="user.password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">
                  <span *ngIf="password.errors?.['required']">Campo obligatorio</span>
                  <span *ngIf="password.errors?.['password']">Ingresar una contraseña valida</span>
                </mat-error>
              </mat-form-field>
            </div>
            <mat-card-content>
              <mat-card-actions class="row">
                <div class="col text-center">
                  <button type="submit" mat-flat-button color="warn">Log in</button>
                </div>
              </mat-card-actions>
            </mat-card-content>
            <div class="pie-form">
              <!--<a href="#">¿Perdiste tu contraseña?</a>-->
              <p>¿No tienes cuenta? Registrate abajo
                <br>
                <mat-icon>keyboard_arrow_down</mat-icon></p>

            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>



 <!--Classes main-div and example-card are catagorized in .css file
<div class="main-div">

  <mat-card class="example-card">
    <mat-card-header>
      <div class="login-box-header">
        <img src="../../../assets/img/JK.png" alt="Logo" mat-card-image style="width: 20%;
            height: auto; display: inline">
        <mat-card-title>Log in</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field appearance="fill" class="w-60">
                <mat-label>Email</mat-label>
                <input type="text" matInput required name="email" placeholder="enriquejasso@gmail.com">
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>


            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>


              <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field>

            </td>
          </tr></table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-flat-button class="w-50" color="primary">Log in</button>

      <button mat-raised-button (click)="login()" color="primary">Login</button>

    </mat-card-actions>
  </mat-card>
-->
