<!--<p>add-movies works!</p>-->
<form #personalForm="ngForm" novalidate (submit)="saveMovie()"> <!---->
  <h2 mat-dialog-title>Register Pelicula</h2>
  <mat-dialog-content class="mat-typography">
    <div class="row form-group mb-3">
      <div class="col">

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Pelicula " #name_mve="ngModel" name="name_mve" [(ngModel)]="movies.name_mve" required>
          <mat-error *ngIf="name_mve.invalid">
            <span *ngIf="name_mve.errors?.['required']">Campo obligatorio</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Duracion</mat-label>
          <input matInput placeholder="Pelicula " #duration="ngModel" name="name_mve" [(ngModel)]="movies.duration" required>
          <mat-error *ngIf="duration.invalid">
            <span *ngIf="duration.errors?.['required']">Campo obligatorio</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Genero</mat-label>
          <mat-select [required]="true"
                      [(ngModel)]="movies.gender!.id"
                      #name_gdr="ngModel"
                      name="name_gdr">
            <mat-option *ngFor="let name_gdr of genders"
                        [value]="name_gdr.id_gdr">
              {{ name_gdr.name_gdr }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="name_gdr.invalid">
                        <span *ngIf="name_gdr.errors?.['required']">
                            Campo obligatorio
                        </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Duracion</mat-label>
          <input matInput placeholder="Pelicula " #image_mve="ngModel" name="image_mve" [(ngModel)]="movies.image_mve" required>
          <mat-error *ngIf="image_mve.invalid">
            <span *ngIf="image_mve.errors?.['required']">Campo obligatorio</span>
          </mat-error>
        </mat-form-field>

      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close color="warn">
      Cancel <mat-icon>clear</mat-icon>
    </button>
    <button mat-button type="submit" [disabled]="personalForm.invalid" color="primary">
      Save <mat-icon>send</mat-icon>
    </button>
  </mat-dialog-actions>

</form>
