<mat-card class="mt-5 mb-5">
  <mat-card-header class="row">
    <div class="col">
      <mat-card-title>Funciones</mat-card-title>
      <mat-card-subtitle>Listado</mat-card-subtitle>
    </div>
    <div class="col text-end">
      <button
        mat-mini-fab
        color="accent"
        aria-label="Open register movies_shows"
        (click)="openDialog('0ms', '0ms')"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table class="col-12" mat-table [dataSource]="movie_show" matSort (matSortChange)="announceSortChange($event)">
      <!--  Column -->
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="name_mve">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pelicula</th>
        <td mat-cell *matCellDef="let element">{{ element.name_mve}}</td>
      </ng-container>
      <ng-container matColumnDef="number_room">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sala</th>
        <td mat-cell *matCellDef="let element">{{ element.number_room }}</td>
      </ng-container>
      <ng-container matColumnDef="start_show">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de inicio</th>
        <td mat-cell *matCellDef="let element">{{ element.start_show }}</td>
      </ng-container>
      <ng-container matColumnDef="end_show">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora de fin</th>
        <td mat-cell *matCellDef="let element">{{ element.end_show }}</td>
      </ng-container>
      <ng-container matColumnDef="date_show">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.date_show | date: "YYYY//MM/dd" }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab class="me-2" color="warn"
                  (click)="editMovie_Show(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf="element.availability_msw === 1" mat-mini-fab="bg-danger"
                  (click)="disable(element)">
            <mat-icon>delete</mat-icon>
          </button>
          <button *ngIf="element.availability_msw === 0" mat-mini-fab="bg-success"
                  (click)="enable(element)">
            <mat-icon>restore_from_trash</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
<div id="loaderDiv" *ngIf="isLoading">
  <mat-spinner mode="indeterminate" class="ajax-loader"></mat-spinner>
</div>
