<!--<app-auth></app-auth>-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img [src]="logoPath" alt="logoss" style="width: 15%; height: auto; display: inline"></mat-toolbar>
     <div >
       <mat-nav-list>
         <a mat-list-item routerLink="position">Home</a>
         <a mat-list-item routerLink="personal">Cartelera</a>
       </mat-nav-list>
     </div>
    <div *ngIf="session.logged && role.isAdmin"> <!--Puede q la condicion quese solamente -->
      <mat-nav-list>
        <a mat-list-item routerLink="personal">Administrar <br>Cartelera</a>
        <a mat-list-item routerLink="moviesAdmin" >Peliculas</a>
        <a mat-list-item routerLink="gendersAdmin">Generos</a>
        <a mat-list-item routerLink="users">Salas</a>
        <a mat-list-item routerLink="users">Clientes</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="row">
    <mat-toolbar color="warn">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="col text-end" *ngIf="session.logged">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><mat-icon>person</mat-icon>Perfil</button>
          <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
        </mat-menu>
      </div>
      <div class="col text-end" *ngIf="!session.logged">
        <button mat-raised-button	color="basic"><a routerLink="/login">Inicia sesión</a></button>
        <button mat-raised-button	color="basic"><a routerLink="/signup">Registrate</a></button>
      </div>
    </mat-toolbar>
    <div class="container-fluid border">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

